{% extends 'base.html' %}
{% from '_ui_macros.html' import pf_button, pf_manage_list_table %}
{% block title %}Manage Species{% endblock %}
{% block content %}
<div class="container py-4 stick-table-header-container" style="max-width: 560px;">
  <h2 class="mb-4">Manage Species</h2>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" id="search-input" placeholder="Search species..." class="form-control">
    {{ pf_button(
      'Add a Species',
      attrs={
        'data-bs-toggle': 'modal',
        'data-bs-target': '#edit-modal',
        'data-details': '{
          "action": "add",
          "title": "Add Species",
          "name": "",
          "nameLabel": "Enter a species name"
        }',
        'style': 'flex: 0 0 auto; margin-left: 1rem;'
      }
    ) }}
  </div>

  <!-- table -->
  {{ pf_manage_list_table(
    lists=species_list,
    nameLabel="Enter a new species name",
    noEditList=["None", "Unspecified"]
  ) }}

  <!-- modal box -->
  <div class="modal fade pop-up-modal" id="edit-modal" tabindex="-1">
    <div class="modal-dialog" style="margin-top: 10vh;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form method="POST" action="{{ url_for('manage_species') }}">
          <input type="hidden" name="current-item-name" id="current-item-name" value="" />
          <input type="hidden" name="modal-action" id="modal-action" value="" />

          <div class="modal-body">
            <div class="mb-3">
              <label for="item-name" class="form-label" id="item-name-label"></label>
              <input type="text" class="form-control" id="item-name" name="item-name" value="" required>
            </div>
          </div>

          <div class="modal-footer">
            {{ pf_button('Cancel', variant='btn-sm-outline', attrs={'data-bs-dismiss': 'modal'}) }}
            {{ pf_button('Confirm', type='submit') }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/manage-lists.js') }}"></script>
{% endblock %}
